/* Animation Keyframes*/
@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor {
  opacity: 0;
  border-right: 2px solid yellow;
  /* animation-name: flicker; */
  animation: 1s ease-in 1s infinite flicker;
}
